APP_NAME=H-DROP Backend
APP_VERSION=3.1.0
DEBUG=true

MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883
MQTT_CLIENT_ID=hdrop_backend_fastapi
MQTT_KEEPALIVE=60

TOPICO_RAW=hdrop/raw
TOPICO_TELEMETRIA=hdrop/telemetria
TOPICO_COMANDO=hdrop/comando

MAG_OFFSET_X=1648
MAG_OFFSET_Y=119

CORS_ORIGINS=["http://localhost:4200","http://127.0.0.1:4200"]
